In [2]:
import pandas as pd

In [6]:
df = pd.read_excel("Aracaju.xlsx")

In [7]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
 #Transformar a em tipo datetime.
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
#Criando a coluna Receita
df["Receita"] = df["Vendas"].mul(df["Qtde"]) 
df.head()

In [11]:
#agrupamento por ano 
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    46276.29
2019     2471.96
Name: Receita, dtype: float64

In [15]:
df["Ano_Vendas"] = df["Data"].dt.year 
df.sample(5)

      Cidade       Data  Vendas  LojaID  Qtde  Receita  Ano_Vendas
47   Aracaju 2018-01-01   80.46    1520     2   160.92        2018
42   Aracaju 2018-01-01   40.00    1520     8   320.00        2018
43   Aracaju 2018-01-01   19.63    1523     9   176.67        2018
105  Aracaju 2018-01-01   24.81    1520     5   124.05        2018
81   Aracaju 2018-01-01   53.41    1520     2   106.82        2018

In [17]:
#Extraindo o mes de venda
df["Mês_Vendas"] = (df["Data"].dt.month)

In [18]:
#Extraindo o dia de venda 
df["Dia_Vendas"] = (df["Data"].dt.day)

In [19]:
#Retornando a data mais antiga. 
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
#Calcular a diferença de dias 
df["Diferença_dias"] = df["Data"] - df["Data"].min() 
 
df.sample(5)

In [ ]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter
df.sample(5)

In [ ]:
#Filtrar as vendas de 2019 do mês de março 
vendas_marco_2019 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)] 
df.sample()